<%= f.label :summary %>
<%= f.text_area :summary %>
<br />
<%= f.label :activity_id, "Activity " %><%= f.select :activity_id, Activity.all.collect {|a| [ a.name, a.id ] } %>
<br />
<%= f.label :date %><%= f.date_select :date %>
<br />
<%= f.label :feel %><div id="log_entry_feel_slider" ></div>
<%= f.hidden_field :feel %>