<%= f.label :summary %>
<br />
<%= f.text_area :summary %>
<br />
<%= f.label :date %><%= f.date_select :date %>
<br />
<%= f.label :feel %><div id="log_entry_feel_slider" ></div>
<%= f.hidden_field :feel %>

<div class="workouts">
<% f.fields_for :workouts do |workout_fields| %>
<div>
	<%= workout_fields.label :duration %>
	<%= workout_fields.text_field :duration, :value => workout_fields.object.duration %>

	<%= workout_fields.select :time_of_day, [["AM", "AM"], ["PM", "PM"]] %>

	<%= workout_fields.label :activity_id, "Activity " %>
	<%= workout_fields.select :activity_id, Activity.all.collect {|a| [ a.name, a.id ] } %>

	<%= workout_fields.link_to_remove image_tag("delete.png", :class => "minus") %>	
</div>
<% end %>
<%= f.link_to_add image_tag("add1.png", :class => "plus"), :workouts %>
</div>