<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>My log</title>
<%= stylesheet_link_tag 'reset' %>
<%= stylesheet_link_tag 'text' %>
<%= stylesheet_link_tag 'style' %>

</head>
<body>
  <div id="main_container" >
    <div id="above_content" >
	    <div id="logo" ><img src="/images/mylog.png" /></div>
	    <div id="top_nav" ><div id="bleft"></div><div id="join" ><%= register %></div><div id="links"><%= session_links %></div><div id="bright" ></div></div>
	  </div>
	  <div id="border_top" ></div>
	  <div id="content" >
      <p class="pflash"><%= flash[:notice] %></p>
      <%= yield %>
    </div>
    <div id="border_bottom" ></div>
    
  </div>
</body>
</html>